@import "../../theme/variables.scss";

.navigation {
  width: 250px;
  background: rgb(250, 250, 250);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;

  section {
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &:last-child {
      flex: 1;
      border-bottom: none;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .group {
    h3 {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 500;
      color: rgb(170, 170, 170);
      letter-spacing: 0.5px;
      list-style: none;
      margin: 2.5em 0 1em 0;
    }

    &:first-child {
      h3 {
        margin-top: 1em;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          font-weight: 600;
          font-size: 15px;
          color: rgb(34, 34, 34);
          text-decoration: none;

          &:hover,
          &[aria-current="page"] {
            color: $color-primary;
            opacity: 1;
          }
        }

        padding: 10px 0;

        ul {
          margin: 0.5em 0 0.5em 1em;

          li {
            a {
              font-weight: 400;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .title {
    display: none;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    border-right: none;

    section:last-child {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      width: 100%;
      height: 0px;
      visibility: hidden;
      z-index: 10;
      background: rgb(250, 250, 250);
      transition: height 250ms ease-in-out, visibility 250ms linear;
    }

    &.open {
      section:last-child {
        height: 100%;
        visibility: unset;
      }
    }
  }
}
