.docs {
  .bp3-button {
    background: #fff;
  }
}

.bp3-menu {
  .bp3-menu-header {
    h6 {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 500;
      color: rgb(170, 170, 170);
      letter-spacing: 0.5px;
      list-style: none;
    }
  }
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-primary;
    opacity: 0.8;
    text-decoration: none;
  }
}
